<style>
h1{
    margin-top: 150px;

    display: block;
    text-align: center;

    font-family: 'Varela Round' , cursive;
    font-size: 3rem;
}
p{
    text-align: center;
    display: block;
    margin: auto;
    font-family: 'Varela Round' , cursive;
}
</style>

<h1><%= err%></h1>
<p><%= msg%></p>